# Build folder.
/build/

# Test output folder.
/tests/data/

# Media folders.
/media
/media_internal

# Packman folders.
/external/packman/
/tools/.packman/

# IDE folders.
/.vs/
/.vscode/

# User files.
/CMakeUserPresets.json

# File types.
*.user
*.suo
*.pyc
*.VC.db
*.VC.opendb
*.pyc
*slang-dump-*
*.mp4
*.tlog
*.bak
*.swp
/AccumulatePassoutput_0.exr
/albedo_0.exr
/color_0.exr
/depth_0.exr
/image8x512
/lookup.exr
/lookup_uint.png
/lookup_uint16.png
/normal_0.exr
/position_0.exr
/roughness_0.exr

/specular_0.exr
